{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block header %}

	<div class="jumbotron">
		<h1>Welcome to tracetidwell.com</h1>
		<p>I started this site to blog about the regular goings-on in my life, share some triathlon training advice and tools I use to plan my training, and provide examples of my CS projects I'm working on.</p>
	</div>
	
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-12 thumbnail"><img src="{{ url_for('.static', filename='cropped-imfl-collage.jpg') }}" alt="..."></div>
		</div>
	</div>
	
{% endblock %}